body {
  margin:0 ;
  font-family:sans-serif;
  text-align:center
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
