{% extends "base.html"   %}

{% block head %}

{% endblock %}

{% block body %}
<div class = "content">
  <h1   style="text-align:center">   N_O_W_H_E_R_E  </h1>
  <form action="/graph/" method="GET" style="text-align:center" >
      <input type="submit" value="Go to Graph">
  </form>
  <br>

<img src="{{user_image}}" alt="{{user_image}}" width="704"  height="374">

<br>
<h3 style="text-align:center" >{{image}}</h3>

  <form action="/" method="POST" style="text-align:center" >
      <input type="text" name="content" id="content" >
      <input type="submit" value="Choose Photo">
  </form>
 <br>
  <div><b>Picture List:</b><div>
  <table      style="width:20%"  align="center" >


    {% for img in range(0, image_list|length - 4,5)  %}
      <tr>
        <td ><font color=#919499>{{ image_list[img][:-4] }}</font></td>
        <td><font color=#919499>{{ image_list[img + 1][:-4] }}</font></td>
        <td><font color=#919499>{{ image_list[img + 2][:-4] }}</font></td>
        <td><font color=#919499>{{ image_list[img + 3][:-4] }}</font></td>
        <td><font color=#919499>{{ image_list[img + 4][:-4] }}</font></td>
      </tr>
    {% endfor %}
  </table>
<br>


</div>
{% endblock %}
